<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<ul>
  <li th:each="category: ${categories}" th:text="${category.getName()}"></li>
</ul>

<form th:action="@{/servlet/category2}" th:method="POST">
    <label>
        Name
        <input type="text" name="name">
    </label>
    <br>
    <label>
        Description
        <input type="text" name="desc">
    </label>
    <input type="submit" name="submit" id="submit" value="submit">
</form>
</body>
</html>